<!DOCTYPE html>
<html>
  <head>
    <title>map</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="scripts.js"></script>
  </head>
  <body>
    <h1>Featured Reviews:</h1>
    <% @featured_reviews.each do |review| %>
      <h3><%= review.carts.name %></h3>
      <p><% review.review %></p>
      <% end %>

    <h1>Today's deals:</h1>
      <% @featured_reviews.each do |review| %>
      <h3><% review.carts.name %></h3>
      <h4><% review.food_name %></h4>
      <p><%= review.price %></p>
      <% end %>
    <h1>Map of our reviewed foodcarts:</h1>

    <div class="pac-card" id="pac-card">
      <div>
        <div id="title">
        Autocomplete search
        </div>
        <div id="type-selector" class="pac-controls">
          <input type="radio" name="type" id="changetype-all" checked="checked">
          <label for="changetype-all">All</label>

          <input type="radio" name="type" id="changetype-establishment">
          <label for="changetype-establishment">Establishments</label>

          <input type="radio" name="type" id="changetype-address">
          <label for="changetype-address">Addresses</label>

          <input type="radio" name="type" id="changetype-geocode">
          <label for="changetype-geocode">Geocodes</label>
        </div>
        <div id="strict-bounds-selector" class="pac-controls">
          <input type="checkbox" id="use-strict-bounds" value="">
          <label for="use-strict-bounds">Strict Bounds</label>
        </div>
      </div>
      <div id="pac-container">
        <input id="pac-input" type="text"
        placeholder="Enter a location">
      </div>
    </div>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaN83hTHVzlAMvkBd4oc3NGFm4YQ-K71I&libraries=places&callback=initMap">
    </script>
  </body>
</html>