<h1><%= @cart.name %></h1>
<div class="white-text">
<form action="/review/<%=@cart.id%>" method="post">
  <div class="form-group">
    <label>Food: </label>
    <input name="food" class="form-control transparent" type="text" required>
  </div>
  <div class="form-group">
    <label>Price: </label>
    <input name="price" class="form-control transparent" type="text" required>
  </div>
  <div class="form-group">
    <label for="amount">Review: </label>
    <textarea class="form-control transparent" name="review" rows="3"></textarea>
  </div>
  <div class="stars">

      <!-- <input name="_method" type="hidden" value="patch"> -->

      <input class="star star-5" id="star-5" value="5" type="radio" name="rating"/>
      <label class="star star-5" for="star-5"></label>

      <input class="star star-4" id="star-4" value="4" type="radio" name="rating"/>
      <label class="star star-4" for="star-4"></label>

      <input class="star star-3" id="star-3" value="3" type="radio" name="rating"/>
      <label class="star star-3" for="star-3"></label>

      <input class="star star-2" id="star-2" value="2" type="radio" name="rating"/>
      <label class="star star-2" for="star-2"></label>

      <input class="star star-1" id="star-1" value="1" type="radio" name="rating"/>
      <label class="star star-1" for="star-1"></label>
      <!-- <a href="/review/<%=@cart.id%>"><button type="submit" class="btn btn-warning rightbutton" name ="button">Rate!</button></a> -->

  </div>
    <button class="btn btn-full" type = "submit">Submit</button>
</form>
</div>
